In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/data.csv', low_memory = False)

In [3]:
df.head(10)

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Fecha UTC,Hora UTC,Estatus
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/08/1925,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",07/08/1925,07:47:48,revisado
5,16/11/1925,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",16/11/1925,11:54:54,revisado
6,10/12/1925,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",10/12/1925,14:14:42,revisado
7,09/02/1928,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",10/02/1928,04:39:37,revisado
8,21/03/1928,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",22/03/1928,04:17:30,revisado
9,16/04/1928,21:25:27,6.7,17.69,-96.44,115.0,"55 km al SUROESTE de TUXTEPEC, OAX",17/04/1928,03:25:27,revisado

In [4]:
df.tail(10)

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Fecha UTC,Hora UTC,Estatus
331130,31/01/2025,03:05:56,3.7,18.430,-103.361,52.5,"44 km al SUROESTE de COALCOMAN, MICH",31/01/2025,09:05:56,verificado
331131,31/01/2025,03:22:25,3.5,18.447,-103.453,50.6,"48 km al SUROESTE de COALCOMAN, MICH",31/01/2025,09:22:25,verificado
331132,31/01/2025,03:38:56,3.4,15.696,-95.354,15.0,"56 km al SUROESTE de SALINA CRUZ, OAX",31/01/2025,09:38:56,verificado
331133,31/01/2025,03:53:30,3.8,24.471,-109.126,16.0,"126 km al NORESTE de LA PAZ, BCS",31/01/2025,09:53:30,verificado
331134,31/01/2025,03:56:08,3.8,24.339,-109.160,15.7,"119 km al ESTE de LA PAZ, BCS",31/01/2025,09:56:08,verificado
331135,31/01/2025,04:11:28,3.7,18.125,-103.435,13.2,"78 km al SUROESTE de COALCOMAN, MICH",31/01/2025,10:11:28,verificado
331136,31/01/2025,04:13:26,3.4,17.192,-94.918,49.2,"38 km al NORESTE de MATIAS ROMERO, OAX",31/01/2025,10:13:26,verificado
331137,31/01/2025,04:18:13,3.3,17.040,-95.207,105.9,"26 km al NOROESTE de MATIAS ROMERO, OAX",31/01/2025,10:18:13,verificado
331138,31/01/2025,04:18:51,3.8,16.046,-97.546,16.1,"13 km al NOROESTE de RIO GRANDE, OAX",31/01/2025,10:18:51,verificado
331139,31/01/2025,08:20:59,4.5,18.712,-106.302,10.3,"192 km al SUROESTE de CIHUATLAN, JAL",31/01/2025,14:20:59,verificado

In [5]:
df.isna().sum()

Fecha                         4
Hora                          4
Magnitud                      4
Latitud                       4
Longitud                      4
Profundidad                   4
Referencia de localizacion    4
Fecha UTC                     4
Hora UTC                      4
Estatus                       4
dtype: int64

In [6]:
df = df.dropna()
df.head()

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Fecha UTC,Hora UTC,Estatus
4,07/08/1925,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",07/08/1925,07:47:48,revisado
5,16/11/1925,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",16/11/1925,11:54:54,revisado
6,10/12/1925,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",10/12/1925,14:14:42,revisado
7,09/02/1928,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",10/02/1928,04:39:37,revisado
8,21/03/1928,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",22/03/1928,04:17:30,revisado

In [7]:
df.reset_index(inplace = True, drop = True)

In [8]:
df.head()

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Fecha UTC,Hora UTC,Estatus
0,07/08/1925,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",07/08/1925,07:47:48,revisado
1,16/11/1925,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",16/11/1925,11:54:54,revisado
2,10/12/1925,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",10/12/1925,14:14:42,revisado
3,09/02/1928,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",10/02/1928,04:39:37,revisado
4,21/03/1928,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",22/03/1928,04:17:30,revisado

In [9]:
df.dtypes

Fecha                          object
Hora                           object
Magnitud                       object
Latitud                       float64
Longitud                      float64
Profundidad                   float64
Referencia de localizacion     object
Fecha UTC                      object
Hora UTC                       object
Estatus                        object
dtype: object

In [10]:
#Es posible convertir la fecha a datetime
df['Fecha'] = pd.to_datetime(df['Fecha'], format = "mixed", dayfirst = True)

In [11]:
df.dtypes

Fecha                         datetime64[ns]
Hora                                  object
Magnitud                              object
Latitud                              float64
Longitud                             float64
Profundidad                          float64
Referencia de localizacion            object
Fecha UTC                             object
Hora UTC                              object
Estatus                               object
dtype: object

In [12]:
df.head()

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Fecha UTC,Hora UTC,Estatus
0,1925-08-07,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",07/08/1925,07:47:48,revisado
1,1925-11-16,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",16/11/1925,11:54:54,revisado
2,1925-12-10,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",10/12/1925,14:14:42,revisado
3,1928-02-09,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",10/02/1928,04:39:37,revisado
4,1928-03-21,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",22/03/1928,04:17:30,revisado

In [13]:
#Ver los valores para el estatus
df['Estatus'].unique()

array(['revisado', 'verificado'], dtype=object)

In [14]:
#Corregir error ortografico del estatus
map_estatus = {
    "revisado": "REVISADO",
    "verificado": "VERIFICADO"
}
df['Estatus'] = df['Estatus'].map(map_estatus)

In [15]:
df['Estatus'].unique()

array(['REVISADO', 'VERIFICADO'], dtype=object)

In [16]:
#Separar las fechas en dia, mes, año y de ser posible, dia de la semana
df['Año'] = df['Fecha'].dt.year
df['Mes'] = df['Fecha'].dt.month
df['Dia'] = df['Fecha'].dt.day

df.head(5)

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Fecha UTC,Hora UTC,Estatus,Año,Mes,Dia
0,1925-08-07,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",07/08/1925,07:47:48,REVISADO,1925,8,7
1,1925-11-16,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",16/11/1925,11:54:54,REVISADO,1925,11,16
2,1925-12-10,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",10/12/1925,14:14:42,REVISADO,1925,12,10
3,1928-02-09,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",10/02/1928,04:39:37,REVISADO,1928,2,9
4,1928-03-21,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",22/03/1928,04:17:30,REVISADO,1928,3,21

In [17]:
import calendar

In [18]:
df['Dia Semana'] = df['Fecha'].dt.day_name()
df.head(5)

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Fecha UTC,Hora UTC,Estatus,Año,Mes,Dia,Dia Semana
0,1925-08-07,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",07/08/1925,07:47:48,REVISADO,1925,8,7,Friday
1,1925-11-16,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",16/11/1925,11:54:54,REVISADO,1925,11,16,Monday
2,1925-12-10,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",10/12/1925,14:14:42,REVISADO,1925,12,10,Thursday
3,1928-02-09,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",10/02/1928,04:39:37,REVISADO,1928,2,9,Thursday
4,1928-03-21,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",22/03/1928,04:17:30,REVISADO,1928,3,21,Wednesday

In [19]:
map_semana = {
    "Monday" : "LUNES",
    "Tuesday" : "MARTES",
    "Wednesday" : "MIERCOLES",
    "Thursday" : "JUEVES",
    "Friday" : "VIERNES",
    "Saturday" : "SABADO",
    "Sunday" : "DOMINGO"
}

In [20]:
df['Dia Semana'] = df['Dia Semana'].map(map_semana)
df.head(5)

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Fecha UTC,Hora UTC,Estatus,Año,Mes,Dia,Dia Semana
0,1925-08-07,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",07/08/1925,07:47:48,REVISADO,1925,8,7,VIERNES
1,1925-11-16,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",16/11/1925,11:54:54,REVISADO,1925,11,16,LUNES
2,1925-12-10,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",10/12/1925,14:14:42,REVISADO,1925,12,10,JUEVES
3,1928-02-09,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",10/02/1928,04:39:37,REVISADO,1928,2,9,JUEVES
4,1928-03-21,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",22/03/1928,04:17:30,REVISADO,1928,3,21,MIERCOLES

In [21]:
#Eliminar columna del UTC
df = df.drop('Fecha UTC', axis = 1)

In [22]:
df = df.drop('Hora UTC', axis = 1)

In [23]:
#Separar las referencias de localizacion en Localidad, Estado, Direccion
df['Estado'] = df['Referencia de localizacion'].str.split(",").str[1].str.strip()
df.head()

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Estatus,Año,Mes,Dia,Dia Semana,Estado
0,1925-08-07,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",REVISADO,1925,8,7,VIERNES,MICH
1,1925-11-16,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",REVISADO,1925,11,16,LUNES,JAL
2,1925-12-10,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",REVISADO,1925,12,10,JUEVES,CHIS
3,1928-02-09,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",REVISADO,1928,2,9,JUEVES,PUE
4,1928-03-21,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",REVISADO,1928,3,21,MIERCOLES,OAX

In [24]:
df['Localidad'] = df['Referencia de localizacion'].str.extract(r'de\s+(.*),')
df.head()

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Estatus,Año,Mes,Dia,Dia Semana,Estado,Localidad
0,1925-08-07,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",REVISADO,1925,8,7,VIERNES,MICH,NUEVA ITALIA
1,1925-11-16,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",REVISADO,1925,11,16,LUNES,JAL,CIHUATLAN
2,1925-12-10,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",REVISADO,1925,12,10,JUEVES,CHIS,MOTOZINTLA
3,1928-02-09,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",REVISADO,1928,2,9,JUEVES,PUE,ACATLAN DE OSORIO
4,1928-03-21,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",REVISADO,1928,3,21,MIERCOLES,OAX,CRUCECITA

In [25]:
df['Direccion Cardinal'] = df['Referencia de localizacion'].str.extract(r'\b(AL|DEL|AL)?\s*(NORTE|SUR|ESTE|OESTE|SUROESTE|NOROESTE|SURESTE|NORESTE)\b', expand=False)[1]
df.head()

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Estatus,Año,Mes,Dia,Dia Semana,Estado,Localidad,Direccion Cardinal
0,1925-08-07,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",REVISADO,1925,8,7,VIERNES,MICH,NUEVA ITALIA,SURESTE
1,1925-11-16,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",REVISADO,1925,11,16,LUNES,JAL,CIHUATLAN,SUROESTE
2,1925-12-10,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",REVISADO,1925,12,10,JUEVES,CHIS,MOTOZINTLA,NOROESTE
3,1928-02-09,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",REVISADO,1928,2,9,JUEVES,PUE,ACATLAN DE OSORIO,NORESTE
4,1928-03-21,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",REVISADO,1928,3,21,MIERCOLES,OAX,CRUCECITA,SURESTE

In [26]:
df['Distancia KM'] = df['Referencia de localizacion'].str.extract(r'(\d+)\s*km')
df.head()

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Referencia de localizacion,Estatus,Año,Mes,Dia,Dia Semana,Estado,Localidad,Direccion Cardinal,Distancia KM
0,1925-08-07,01:47:48,6.7,19.00,-102.00,100.0,"10 km al SURESTE de NUEVA ITALIA, MICH",REVISADO,1925,8,7,VIERNES,MICH,NUEVA ITALIA,SURESTE,10
1,1925-11-16,05:54:54,7,18.00,-107.00,33.0,"291 km al SUROESTE de CIHUATLAN, JAL",REVISADO,1925,11,16,LUNES,JAL,CIHUATLAN,SUROESTE,291
2,1925-12-10,08:14:42,7,15.50,-92.50,33.0,"31 km al NOROESTE de MOTOZINTLA, CHIS",REVISADO,1925,12,10,JUEVES,CHIS,MOTOZINTLA,NOROESTE,31
3,1928-02-09,22:39:37,6.5,18.26,-97.99,84.0,"9 km al NORESTE de ACATLAN DE OSORIO, PUE",REVISADO,1928,2,9,JUEVES,PUE,ACATLAN DE OSORIO,NORESTE,9
4,1928-03-21,22:17:30,7.5,15.67,-96.10,33.0,"12 km al SURESTE de CRUCECITA, OAX",REVISADO,1928,3,21,MIERCOLES,OAX,CRUCECITA,SURESTE,12

In [27]:
df = df.drop('Referencia de localizacion', axis = 1)

In [28]:
df.head()

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Estatus,Año,Mes,Dia,Dia Semana,Estado,Localidad,Direccion Cardinal,Distancia KM
0,1925-08-07,01:47:48,6.7,19.00,-102.00,100.0,REVISADO,1925,8,7,VIERNES,MICH,NUEVA ITALIA,SURESTE,10
1,1925-11-16,05:54:54,7,18.00,-107.00,33.0,REVISADO,1925,11,16,LUNES,JAL,CIHUATLAN,SUROESTE,291
2,1925-12-10,08:14:42,7,15.50,-92.50,33.0,REVISADO,1925,12,10,JUEVES,CHIS,MOTOZINTLA,NOROESTE,31
3,1928-02-09,22:39:37,6.5,18.26,-97.99,84.0,REVISADO,1928,2,9,JUEVES,PUE,ACATLAN DE OSORIO,NORESTE,9
4,1928-03-21,22:17:30,7.5,15.67,-96.10,33.0,REVISADO,1928,3,21,MIERCOLES,OAX,CRUCECITA,SURESTE,12

In [29]:
df['Hora'] = pd.to_datetime(df['Hora'])
df.head()

C:\Users\Rocha\AppData\Local\Temp\ipykernel_8952\28393408.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Hora'] = pd.to_datetime(df['Hora'])

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Estatus,Año,Mes,Dia,Dia Semana,Estado,Localidad,Direccion Cardinal,Distancia KM
0,1925-08-07,2025-01-31 01:47:48,6.7,19.00,-102.00,100.0,REVISADO,1925,8,7,VIERNES,MICH,NUEVA ITALIA,SURESTE,10
1,1925-11-16,2025-01-31 05:54:54,7,18.00,-107.00,33.0,REVISADO,1925,11,16,LUNES,JAL,CIHUATLAN,SUROESTE,291
2,1925-12-10,2025-01-31 08:14:42,7,15.50,-92.50,33.0,REVISADO,1925,12,10,JUEVES,CHIS,MOTOZINTLA,NOROESTE,31
3,1928-02-09,2025-01-31 22:39:37,6.5,18.26,-97.99,84.0,REVISADO,1928,2,9,JUEVES,PUE,ACATLAN DE OSORIO,NORESTE,9
4,1928-03-21,2025-01-31 22:17:30,7.5,15.67,-96.10,33.0,REVISADO,1928,3,21,MIERCOLES,OAX,CRUCECITA,SURESTE,12

In [30]:
df['Segundo'] = df['Hora'].dt.second
df['Minuto'] = df['Hora'].dt.minute
df['Hora'] = df['Hora'].dt.hour
df.head()

,Fecha,Hora,Magnitud,Latitud,Longitud,Profundidad,Estatus,Año,Mes,Dia,Dia Semana,Estado,Localidad,Direccion Cardinal,Distancia KM,Segundo,Minuto
0,1925-08-07,1,6.7,19.00,-102.00,100.0,REVISADO,1925,8,7,VIERNES,MICH,NUEVA ITALIA,SURESTE,10,48,47
1,1925-11-16,5,7,18.00,-107.00,33.0,REVISADO,1925,11,16,LUNES,JAL,CIHUATLAN,SUROESTE,291,54,54
2,1925-12-10,8,7,15.50,-92.50,33.0,REVISADO,1925,12,10,JUEVES,CHIS,MOTOZINTLA,NOROESTE,31,42,14
3,1928-02-09,22,6.5,18.26,-97.99,84.0,REVISADO,1928,2,9,JUEVES,PUE,ACATLAN DE OSORIO,NORESTE,9,37,39
4,1928-03-21,22,7.5,15.67,-96.10,33.0,REVISADO,1928,3,21,MIERCOLES,OAX,CRUCECITA,SURESTE,12,30,17

In [31]:
orden = ['Fecha', 'Dia', 'Mes', 'Año', 'Dia Semana', 'Hora', 'Minuto', 'Segundo','Estado','Localidad','Distancia KM','Direccion Cardinal','Magnitud','Profundidad','Latitud','Longitud','Estatus']

In [32]:
df = df[orden]

In [33]:
df.head()

,Fecha,Dia,Mes,Año,Dia Semana,Hora,Minuto,Segundo,Estado,Localidad,Distancia KM,Direccion Cardinal,Magnitud,Profundidad,Latitud,Longitud,Estatus
0,1925-08-07,7,8,1925,VIERNES,1,47,48,MICH,NUEVA ITALIA,10,SURESTE,6.7,100.0,19.00,-102.00,REVISADO
1,1925-11-16,16,11,1925,LUNES,5,54,54,JAL,CIHUATLAN,291,SUROESTE,7,33.0,18.00,-107.00,REVISADO
2,1925-12-10,10,12,1925,JUEVES,8,14,42,CHIS,MOTOZINTLA,31,NOROESTE,7,33.0,15.50,-92.50,REVISADO
3,1928-02-09,9,2,1928,JUEVES,22,39,37,PUE,ACATLAN DE OSORIO,9,NORESTE,6.5,84.0,18.26,-97.99,REVISADO
4,1928-03-21,21,3,1928,MIERCOLES,22,17,30,OAX,CRUCECITA,12,SURESTE,7.5,33.0,15.67,-96.10,REVISADO

In [35]:
df.to_csv('data/processed_data.csv', index=False)